doctype html
html
  head
    title Gupta Academy
    <link href="https://fonts.googleapis.com/css2family=Lacquer&family=Yeon+Sung&family=ZCOOL+QingK+HuangYou&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    
    block style.css
  body
    nav#navbar 
        ul
            div.log
                img(src="https://svgsilh.com/png-1024/1613639.png")
                p VGDA
            li #[a(href='/home') Home] 
            li #[a(href='/about') About] 
            li #[a(href='/online_course') Online Course] 
            li #[a(href='/class_info') Class Info] 
            li #[a(href='/contact') Contact Us] 
    
    block content
    footer#footer 
        | Copyright © 2021 VartikaGuptaDanceAcademy.com All rights are reserved.
    