extends base.pug

    
block style.css 
    style
      include ../dancestat/style.css
      include ../dancestat/class_info.css

block content 
    h1 Get Ready to Rock
    Section.contemporary
        h2 Contemporary
        Section#data1
            ul 
            li Duration: 12 Weeks (Monday to Friday)
            li Time: 9 am to 12 pm or 12.30 pm to 3.30pm
            li Eligibility criteria: 15 years andabove   
            li Venue: Nateshwar Bhawan, Khar West,MumbaiIndia
            li 2 Master classes by Master Rihan Ahuja       (Contemporary class and Grooming class)
        
        img(src="https://www.city-academy.com/news/wp-content/uploads/2016/09/5-things-you-didnt-know-contemporary-dance-1-930x453.jpg")

    Section.salsa
        h2 Salsa 
        Section#data1
           ul 
           li Duration: 8 Months Course, Once a week    (Saturdays) 1.5 hours
           li Eligibility criteria: 8 to 14 yrs  
           li Venue: Nateshwar Bhawan, Khar West, Mumbai, India
           li 3 Master classes by Master Reeta Sharma     (Contemporary class and Grooming class)
        img(src="https://i0.wp.com/urbanasian.com/wp-content/uploads/2020/04/salsa.jpg?fit=600%2C400&ssl=1")
    
    //- Section#hip-hop 
    //-     h2 Hip-Hop
    //-     ul 
    //-      li Duration: 12 Weeks (Monday to Friday)
    //-      li Time: 9 am to 12 pm or 12.30 pm to 3.30 pm
    //-      li Eligibility criteria: 15 years and above   
    //-      li Venue: Nateshwar Bhawan, Khar West, Mumbai, India
    //-      li 2 Master classes by Master Rihan Ahuja    
    //-     img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSX7C63wNqO4ndrFlgsH2IxYfiL1Nq7se-og&usqp=CAU")    

    Section.hip-hop
        h2 Hip-Hop
        Section#data1
           ul 
           li Duration: 12 Weeks (Monday to Friday)
           li Time: 11 am to 1 pm .
           li Eligibility criteria: 15 years and above  
           li Venue: Nateshwar Bhawan, Khar West, Mumbai, India
           li 2 Master classes by Master Rajat Nayak  (Contemporary class and Grooming class)
        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEqQR0H5t8OSDbC5AUtRevDBHBzim23QvtZw&usqp=CAU")
        

    Section.ballet
       h2 Ballet Dance
       Section#data1
           ul 
           li Duration: 10 Weeks (Monday to Friday)
           li Time: 3 pm to 4:30 pm .
           li Eligibility criteria: 20 years and above  
           li Venue: Nateshwar Bhawan, Khar West, Mumbai, India
           li 2 Master classes by Master Jagjit Khanna  (Contemporary class and Grooming class)
       img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUsvSyhbWAc0fAQ1hDT8pQGVRZBgcA4q_G5A&usqp=CAU")